/* Styles for Portfolio */

/** Styles across entire page **/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FBFBFB;
}

@media (min-width: 950px) {
    body {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

/** The top heading **/
#top-of-page {
    /* Font */
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    
    /* Borders & Margins */
    padding: 1em;
}

#top-of-page p.subhead {
    font-size: 24px;
}

#top-of-page p.linkbar {
    font-size: 24px;
}

#top-of-page p.linkbar a {
    color: #000000;
    text-decoration: none;
}

#top-of-page p.linkbar a:hover {
    color: #000000;
    border-bottom: 1px solid;
    border-bottom-color: red;
}

#top-of-page p.linkbar a.red:hover { border-bottom-color: #AF0000; }
#top-of-page p.linkbar a.blue:hover { border-bottom-color: #0000AF; }
#top-of-page p.linkbar a.yellow:hover { border-bottom-color: #AFAF00; }
#top-of-page p.linkbar a.green:hover { border-bottom-color: #00AF00; }

/** The body **/
#body-content {
    /* Borders & Margins */
    padding: 1em;
}

#body-content h1 {
    /* Font */
    font-weight: 100;
    font-size: 40px;
    
    /* Borders & Margins */
    /* padding-top: 1em; */
}

#body-content h2 {
    /* Font */
    font-weight: 100;
    font-size: 24px;
}

#body-content p {
    /* Font */
    font-size: 20px;
    font-weight: 300;
    
    /* Borders & Margins */
    padding-top: 1em;
    padding-bottom: 1em;
}

#body-content p.skills {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5em;
}

@media (max-width: 500px) {
    #body-content p {
        font-size: 12pt;
        line-height: 120%;
    }
    
    #body-content p.skills {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
}

#body-content a {
    color: #00A4CD;
    text-decoration: none;
}

#body-content a:hover {
    color: #00CDFF;
    border-bottom: 1px solid #00CDFF;
}

#work-exp, #projects, #collegiate {
    display: none;
}

/** The footer **/
#footer {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}